.add-list-btn-wrapper {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 1rem;
  width: 10rem;
  text-align: center;
}

.add-list-btn {
  padding: 0.3rem 0.5rem 0.3rem;
  color: #3d777a;
  font-weight: 600;
  border: 2px solid #488b8f;
  background-color: #d8f0ea;
  border-radius: 0.4rem;
}

.ading-input-wrapper {
  display: flex;
}

.adding-input {
  color: #3d777a;
  font-weight: 600;
  border: 2px solid #488b8f;
  background-color: #d8f0ea;
  border-radius: 0.4rem;
  width: 9.55rem;
  height: 1.66rem;
}

.adding-input-handlers-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.6rem;
}

.adding-input-handlers-wrapper > div {
  width: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.accept-adding {
  color: green;
}

.decline-adding {
  color: red;
}
