.list-form {
  margin: 0 0 0.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 18rem;
}

.btn-submit {
  cursor: pointer;
  font-weight: 600;
  color: #3d777a;
  padding: 0.5rem 0.5rem;
}

input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

textarea {
  font-size: large;
  background-color: #d8f0ea;
  border: 3px solid #3d777a;
  border-radius: 0.5rem;
  margin-right: 0.3rem;
  color: #3d777a;
  font-weight: 600;
  text-align: center;
  resize: none;
}

textarea::placeholder {
  color: #3d777a;
}
