li {
  border-radius: 1rem;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  max-width: 18rem;
}

.li-text {
  overflow-wrap: anywhere;
}

.li-wrapper {
  background-color: #d8f0ea;

  border: 3px solid #3d777a;
  color: #3d777a;
  font-weight: 600;
  border-radius: 1rem;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  overflow-wrap: break-word;
  max-width: 15rem;
  min-width: 15rem;
  min-height: 4rem;
  margin-top: 1rem;
  align-items: center;
}

.li-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo {
  text-decoration: none;
  margin: 0;
}

.strike {
  text-decoration: line-through;
}

.btn {
  cursor: pointer;
}

.edit-textarea {
  max-width: 10em;
  padding: 0.5 0.2rem;
  resize: none;
}

.none {
  display: none;
}
